[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes,http://kubernetes.io/v1.0/docs/admin/kube-controller-manager.html
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
EnvironmentFile=/etc/sysconfig/kubernetes-config
ExecStartPre=-/usr/bin/docker kill kube-controller-manager
ExecStartPre=-/usr/bin/docker rm kube-controller-manager
ExecStartPre=/usr/bin/docker pull mattma/kube-controller-manager:${KUBERNETES_VERSION}
ExecStart=/usr/bin/docker run \
  --net=host \
  --name kube-controller-manager \
  mattma/kube-controller-manager:${KUBERNETES_VERSION} \
  --master=127.0.0.1:${INSECURE_PORT} \
  --service_account_private_key_file=/home/core/kube-serviceaccount.key \
  --pod_eviction_timeout=${POD_EVICTION_TIMEOUT} \
  --cloud-provider=${CLOUD_PROVIDER} \
  --logtostderr=true
Restart=always
RestartSec=10s

[X-Fleet]
MachineOf=kube-apiserver.service
