[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes,http://kubernetes.io/v1.0/docs/admin/kubelet.html
Requires=setup-network-environment.service
After=setup-network-environment.service

[Service]
EnvironmentFile=/etc/network-environment
EnvironmentFile=/etc/sysconfig/kubernetes-config
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=-/usr/bin/rm /opt/bin/kubelet
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kubelet -z /opt/bin/kubelet https://storage.googleapis.com/kubernetes-release/release/v${KUBERNETES_VERSION}/bin/linux/amd64/kubelet
ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet
ExecStartPre=/usr/bin/mkdir -p ${MANIFESTS_PATH}
ExecStart=/opt/bin/kubelet \
  --address=${BIND_ADDRESS} \
  --port=${KUBELET_PORT} \
  --hostname_override=${ETH1_IPV4} \
  --api_servers=http://${MASTER_IP}:${INSECURE_PORT} \
  --allow_privileged=true \
  --cluster_dns=${CLUSTER_DNS} \
  --cluster_domain=${CLUSTER_DOMAIN} \
  --logtostderr=true \
  --config=${MANIFESTS_PATH} \
  --cadvisor_port=${CADVISOR_PORT} \
  --healthz_bind_address=${BIND_ADDRESS} \
  --healthz_port=${HEALTHZ_PORT}
Restart=always
RestartSec=10s

[X-Fleet]
Global=true
MachineMetadata=role=node
