[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes,http://kubernetes.io/v1.0/docs/admin/kube-scheduler.html
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
EnvironmentFile=/etc/sysconfig/kubernetes-config
ExecStartPre=-/usr/bin/docker kill kube-scheduler
ExecStartPre=-/usr/bin/docker rm kube-scheduler
ExecStartPre=/usr/bin/docker pull mattma/kube-scheduler:${KUBERNETES_VERSION}
ExecStart=/usr/bin/docker run \
  --net=host \
  --name kube-scheduler \
  -v /srv/kubernetes:/srv/kubernetes \
  -v /etc/ssl:/etc/ssl \
  mattma/kube-scheduler:${KUBERNETES_VERSION} \
  --master=http://127.0.0.1:8080
Restart=always
RestartSec=10s

[X-Fleet]
MachineOf=kube-apiserver.service
