[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes,http://kubernetes.io/v1.0/docs/admin/kube-apiserver.html
Requires=etcd2.service setup-network-environment.service
After=etcd2.service setup-network-environment.service

[Service]
EnvironmentFile=/etc/network-environment
EnvironmentFile=/etc/sysconfig/kubernetes-config
ExecStartPre=-/usr/bin/docker kill kube-apiserver
ExecStartPre=-/usr/bin/docker rm kube-apiserver
ExecStartPre=/usr/bin/docker pull mattma/kube-apiserver:${KUBERNETES_VERSION}
ExecStart=/usr/bin/docker run \
  --net=host \
  --name kube-apiserver \
  -v /srv/kubernetes:/srv/kubernetes \
  -v /etc/ssl:/etc/ssl \
  -v /var/run/kubernetes:/var/run/kubernetes \
  -v /var/log:/var/log \
  mattma/kube-apiserver:${KUBERNETES_VERSION} \
  --allow_privileged=true \
  --bind_address=${SECURE_BIND_ADDRESS} \
  --secure_port=${SECURE_PORT} \
  --service-cluster-ip-range=${SERVICE_CLUSTER_IP_RANGE} \
  --etcd_servers=http://127.0.0.1:${ETCD_SERVER_PORT_1},http://127.0.0.1:${ETCD_SERVER_PORT_2} \
  --cors_allowed_origins=${CORS_ALLOWED_ORIGINS} \
  --service-node-port-range=${SERVICE_NODE_PORT_RANGE} \
  --cluster-name=${CLUSTER_NAME} \
  --client-ca-file=${CLUSTER_CA_FILE_PATH} \
  --tls-cert-file=${SERVER_CERT_PATH} \
  --tls-private-key-file=${SERVER_PRIVATE_KEY_PATH} \
  --kubelet-certificate-authority=${CLUSTER_CA_FILE_PATH} \
  --kubelet-client-certificate=${SERVER_CERT_PATH} \
  --kubelet-client-key=${SERVER_PRIVATE_KEY_PATH} \
  --kubelet_https=true \
  --kubelet_port=10250 \
  --admission_control=${ADMISSION_CONTROL} \
  --service_account_key_file=${SERVER_PRIVATE_KEY_PATH} \
  --service_account_lookup=false \
  --authorization_mode=AlwaysAllow \
  --logtostderr=true \
  --runtime_config=${RUNTIME_CONFIG}
Restart=always
RestartSec=10s

[X-Fleet]
Global=true
MachineMetadata=role=master
