[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes,http://kubernetes.io/v1.0/docs/admin/kube-controller-manager.html
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
EnvironmentFile=/etc/sysconfig/kubernetes-config
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=-/usr/bin/rm /opt/bin/kube-controller-manager
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kube-controller-manager -z /opt/bin/kube-controller-manager https://storage.googleapis.com/kubernetes-release/release/v${KUBERNETES_VERSION}/bin/linux/amd64/kube-controller-manager
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-controller-manager
ExecStart=/opt/bin/kube-controller-manager \
  --master=127.0.0.1:${INSECURE_PORT} \
  --pod_eviction_timeout=${POD_EVICTION_TIMEOUT} \
  --cloud-provider=${CLOUD_PROVIDER} \
  --logtostderr=true
Restart=always
RestartSec=10s

[X-Fleet]
MachineOf=kube-apiserver.service
