[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes,http://kubernetes.io/v1.0/docs/admin/kube-apiserver.html
Requires=etcd2.service setup-network-environment.service
After=etcd2.service setup-network-environment.service

[Service]
EnvironmentFile=/etc/network-environment
EnvironmentFile=/etc/sysconfig/kubernetes-config
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=-/usr/bin/rm /opt/bin/kube-apiserver
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kube-apiserver -z /opt/bin/kube-apiserver https://storage.googleapis.com/kubernetes-release/release/v${KUBERNETES_VERSION}/bin/linux/amd64/kube-apiserver
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-apiserver
ExecStart=/opt/bin/kube-apiserver \
  --allow_privileged=true \
  --insecure_bind_address=${INSECURE_BIND_ADDRESS} \
  --insecure_port=${INSECURE_PORT} \
  --kubelet_https=true \
  --secure_port=${SECURE_PORT} \
  --service-cluster-ip-range=${SERVICE_CLUSTER_IP_RANGE} \
  --etcd_servers=http://127.0.0.1:${ETCD_SERVER_PORT_1},http://127.0.0.1:${ETCD_SERVER_PORT_2} \
  --cors_allowed_origins=${CORS_ALLOWED_ORIGINS} \
  --service-node-port-range=${SERVICE_NODE_PORT_RANGE} \
  --cloud-provider=${CLOUD_PROVIDER} \
  --logtostderr=true \
  --runtime_config=${RUNTIME_CONFIG}
Restart=always
RestartSec=${RESTART_SECONDS}

[X-Fleet]
Global=true
MachineMetadata=role=master
