[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes,http://kubernetes.io/v1.0/docs/admin/kube-controller-manager.html
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
EnvironmentFile=/etc/sysconfig/kubernetes-config
ExecStartPre=-/usr/bin/docker kill kube-controller-manager
ExecStartPre=-/usr/bin/docker rm kube-controller-manager
ExecStartPre=/usr/bin/docker pull mattma/kube-controller-manager:${KUBERNETES_VERSION}
ExecStart=/usr/bin/docker run \
  --net=host \
  --name kube-controller-manager \
  -v /srv/kubernetes:/srv/kubernetes \
  -v /etc/ssl:/etc/ssl \
  mattma/kube-controller-manager:${KUBERNETES_VERSION} \
  --cluster_name=${CLUSTER_NAME} \
  --master=http://127.0.0.1:8080 \
  --root-ca-file=${CLUSTER_CA_FILE_PATH} \
  --service_account_private_key_file=${SERVER_PRIVATE_KEY_PATH} \
  --pod_eviction_timeout=${POD_EVICTION_TIMEOUT} \
  --logtostderr=true
Restart=always
RestartSec=10s

[X-Fleet]
MachineOf=kube-apiserver.service
